# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: self     # explicitly declare “self”
      type: git

steps:
- checkout: self
  persistCredentials: true

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '17'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- task: JavaToolInstaller@0
  inputs:
    versionSpec: '17'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

# - task: SonatypeCliSetup@2
#   inputs:
#     cliVersion: 1.185.0-01

- task: NexusIqPipelineTask@3
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
  inputs:
    # nexusIqService: 'My-IQ'
    nexusIqService: 'int-test-sonatype'
    applicationId: 'kt-azure-test-15'
    stage: 'Build'
    # scanTargets: '*.jar'
    scanTargets: '**/kt-js-reachable/**, *.jar'
    # enableCallflow: false
    # callflowNamespaces: com.sonatype
    enableReachability: 'false'
    reachabilityNamespaces: 'com.sonatype'
    reachabilityEntrypointStrategy: 'PUBLIC_CONCRETE'
    acceptIqServerSelfSignedCertificates: true
    enableReachabilityJs: true
    reachabilityJsSources: '*app*.js'
    # reachabilityJsSources: 'no-no-no.js'
    # reachabilityJsExcludes: 'node_modules/** test/** *.test.js'
    reachabilityJsProjectRoot: '$(Build.SourcesDirectory)/kt-js-reachable'
    ignoreReachabilityErrors: true

- script: sleep 60
  displayName: 'Sleep for 60 seconds'
